<!DOCTYPE html>
<html>
  <head>
    <title>Listas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.tablesorter.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$("#taskTable").tablesorter();
    	});
    </script>
  </head>

  <body>
    <div id="main-container" class="container-fluid">
  	<div id="main-content" class="col-xs-12">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
